<h2>All Departments</h2>

<% @departments.each do |department| %>
  <h3>Name: <%= department.name %></h3>
  <p>Floor: <%= department.floor %></p>
  Employees:
  <% department.employees.each do |employee| %>
    Name: <%= employee.name %>
    <br>
  <% end %>
  <br>
<% end %>

